xml/fnacvalidador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="productos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="producto" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="titulo"/>
							<xs:element ref="precio"/>
							<xs:element ref="rebajado"/>
							<xs:element ref="moneda"/>
							<xs:element ref="descripcion"/>
							<xs:element ref="tags"/>
							<xs:element ref="stock"/>
							<xs:element ref="categorias"/>
						</xs:sequence>
						<xs:attribute name="ean" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:pattern value="([0-9])*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="unique-codigo">
			<xs:selector xpath="producto"/>
			<xs:field xpath="@ean"/>
		</xs:unique>
	</xs:element>
	<xs:element name="titulo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="preserve"/>
				<xs:minLength value="5"/>
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="precio">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rebajado" type="xs:boolean"/>
	<xs:element name="moneda" default="EUR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EUR"/>
				<xs:enumeration value="GBP"/>
				<xs:enumeration value="USD"/>
				<xs:enumeration value="JPY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tags">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="preserve"/>
				<xs:minLength value="5"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="preserve"/>
				<xs:minLength value="20"/>
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stock">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="categorias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="categoria" minOccurs="1" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="categoria">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Libros,ebooks y Papelería"/>
				<xs:enumeration value="Fnac Kids"/>
				<xs:enumeration value="Música e Instrumentos"/>
				<xs:enumeration value="Cine y Series TV"/>
				<xs:enumeration value="Merchandaising y Coleccionismo"/>
				<xs:enumeration value="Videojuegos y Consolas"/>
				<xs:enumeration value="Informática"/>
				<xs:enumeration value="Smartphones y Conectados"/>
				<xs:enumeration value="Fotografía y Videocamáras"/>
				<xs:enumeration value="TV y Home Cinema"/>
				<xs:enumeration value="Sonido,HiFi y Auriculares"/>
				<xs:enumeration value="Deporte,Salud y Bienestar"/>
				<xs:enumeration value="Hogar y Electrodomésticos"/>
				<xs:enumeration value="Pack Experencia"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>