xml/Schema-Toyota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="file:///../xml/Schema-Toyota.xsd">
	<xs:element name="Transporte" type="xs:string"/>
	<xs:element name="Toyota">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Modelo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nombre" type="TipoNombre" minOccurs="0" maxOccurs="1"/>
							<xs:element name="TipoModelo" type="TipoModelo"/>
							<xs:element name="Carroceria" type="TipoCarroceria"/>
							<xs:element name="Motor" type="TipoMotor"/>
							<xs:element name="Exterior" type="TipoExterior"/>
							<xs:element name="Interior" type="TipoInterior"/>
							<xs:element name="Accesorios" type="TipoAccesorios"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="TipoNombre">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aygo"/>
			<xs:enumeration value="Yatis"/>
			<xs:enumeration value="Auris"/>
			<xs:enumeration value="Toyota C-HR"/>
			<xs:enumeration value="Prius"/>
			<xs:enumeration value="Avensis"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoModelo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Urbano"/>
			<xs:enumeration value="Hybrid"/>
			<xs:enumeration value="Familiar"/>
			<xs:enumeration value="4x4"/>
			<xs:enumeration value="Deportivo"/>
			<xs:enumeration value="Comercial"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoCarroceria">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5 Puertas"/>
			<xs:enumeration value="3 Puertas"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TipoMotor">
		<xs:sequence>
			<xs:element name="Acabados" type="TipoAcabados"/>
			<xs:element name="Motores" type="TipoMotores"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoExterior">
		<xs:sequence>
			<xs:element name="Colores" type="TipoColores" fixed="Blanco Classic"/>
			<xs:element name="Llantas" type="TipoLlantas"/>
			<xs:element name="ConfortExterior" type="TipoConfortExterior"/>
			<xs:element name="EstiloExterior" type="TipoEstiloExterior"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoInterior">
		<xs:sequence>
			<xs:element name="Tapiceria-Inserciones" type="TipoTapiceria-Insercciones"/>
			<xs:element name="Multimedia" type="TipoMultimedia"/>
			<xs:element name="ConfortInterior" type="TipoConfortInterior"/>
			<xs:element name="EstiloInterior" type="TipoEstiloInterior"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoAccesorios">
		<xs:sequence>
			<xs:element name="Transporte" type="TipoTransporte"/>
			<xs:element name="Proteccion" type="TipoProteccion"/>
			<xs:element name="Seguridad" type="TipoSeguridad"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TipoAcabados">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hybryd City"/>
			<xs:enumeration value="Hybryd Active"/>
			<xs:enumeration value="Hybryd Feel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoMotores">
		<xs:restriction base="xs:string">
			<xs:enumeration value="100H Automatico"/>
			<xs:enumeration value="70 Manual"/>
			<xs:enumeration value="100 Manual"/>
			<xs:enumeration value="100 Automatico"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoColores">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rojo Classic"/>
			<xs:enumeration value="Blanco Classic"/>
			<xs:enumeration value="Plata"/>
			<xs:enumeration value="Gris Grafito"/>
			<xs:enumeration value="Rojo Tokyo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoLlantas">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aluminio 15&quot;"/>
			<xs:enumeration value="Aleacion 15&quot;"/>
			<xs:enumeration value="Acero 17&quot;"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoConfortExterior">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Deflectores de viento (juego completo - 5 puertas)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoEstiloExterior">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Terminación tubo de escape cromado"/>
			<xs:enumeration value="Spoiler trasero de techo sin pintar (piezas soporte no incluidas)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoTapiceria-Insercciones">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tela en negro"/>
			<xs:enumeration value="Tapiceria Gris"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoMultimedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Soporte reposacabezas para adaptador tablet"/>
			<xs:enumeration value="Adaptador ajustable para tablet (Necesita soporte adaptador tablet)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoConfortInterior">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cenicero Universal"/>
			<xs:enumeration value="Pantalla solar ventana trasera (no compatible con alarma)"/>
			<xs:enumeration value="Pantallas solar ventanas 2ª fila (5 puertas)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoEstiloInterior">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pasos de puerta de aluminio en color gris (5 puertas)"/>
			<xs:enumeration value="Pasos de puerta en aluminio y negro (5 puertas)"/>
			<xs:enumeration value="Pasos de puerta en negro/gris oscuro (5 puertas)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoTransporte">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bolsa barras portaequipajes"/>
			<xs:enumeration value="Bola de remolque fija (necesita cableado)"/>
			<xs:enumeration value="Barras portaequipajes de techo (5 puertas)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoProteccion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Faldillas guardabarros traseras"/>
			<xs:enumeration value="Juego completo de alfombrillas Velours 650 gr."/>
			<xs:enumeration value="Faldillas guardabarros delanteras"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoSeguridad">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tornillos antirrobo"/>
			<xs:enumeration value="Alarma Toyota VSS1"/>
			<xs:enumeration value="Interruptor de cancelación para kit de aparcamiento trasero"/>
			<xs:enumeration value="Interruptor de cancelación TPA delantero (y trasero si esta instalado conjuntamente)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
